*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background: linear-gradient(to bottom, #FFC200, #ff8c00);
  display: flex;
}
canvas {
  display: block;
}
header{
  align-items: center;
  justify-content: center;
}
:root{
  --gradient: 
      linear-gradient(
      to top,
      #FF8C00,
      #ff0000
  )
}
h1{
  position: absolute;
  top: 0px;
  left: 860px;
  font-family: Arial;
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
h2{
  position: absolute;
  top: 45px;
  left: 480px;
  font-family: Arial;
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
main{
  position: absolute;
  top: 120px;
  left: 650px;
}